version: "3.9"

services:
  backend:
    build: ./backend
    container_name: todo-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app

  frontend:
    image: nginx:alpine
    container_name: todo-frontend
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    ports:
      - "8080:80"
    depends_on:
      - backend
